<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Quiz Application</h1>
    <form action="{{ url_for('submit') }}" method="get">
        {% for question in quiz %}
            <h2>{{ question.question }}</h2>
            {% for option in question.options %}
                <label>
                    <input type="radio" name="answer" value="{{ option }}">
                    {{ option }}
                </label>

            {% endfor %}
        {% endfor %}
        <button type="submit">Submit Answers</button>
    </form>
    <script src="static/quiz.js"></script>

</body>
</html>